 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I'm an Interaction, Visual, and Motion Designer currently living in Louisville, Kentucky. I graduated from the University of Cincinnati's College of Design, Architecture, Art and Planning (DAAP) with a Bachelor of Science in Design. Thus far I have built my career in a variety of roles and industries that have broadened my skills to be able to handle tough design tasks in various situations and implementations.</p>
                </div>
                <div class="col-lg-4">
                    <p>I thrive in a fast-paced work environment and enjoy collaboration in every step of the design process. In my current organization, I'm a change-agent trying to implement a user-centric design process and a leader striving to facilitate innovation. As an Interaction designer I am often responsible for shaping and communicating user experience strategies and design. I often serve as the team advisor responsible for defining the overall UX vision throughout the digital ecosystem. I play a critical role in driving the overall UX practice, help to develop team capabilities, and work as an evangelist and thought leader.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i>&nbsp; Download Resumé
                    </a>
                </div>
            </div>
        </div>
    </section>