    <!-- Footer -->
   <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>{{ site.footer.location }}</h3>
                        <!-- <p>
                            {% for adress in site.address %}
                                {{ adress.line }} <br>
		                    {% endfor %}
                        </p> -->
                        <p>Louisville, Kentucky </p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>{{ site.footer.social }}</h3>
                        <!-- <ul class="list-inline">
                            {% for network in site.social %}
                            <li>
                                <a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-fw fa-{{ network.title }}"></i></a>
                            </li>
		                    {% endfor %}
                        </ul> -->

                        <ul class="list-inline">
                            
                             <li>
                                <a href="http://linkedin.com/in/chrisfeldmann" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>

                            <li>
                                <a href="http://twitter.com/chris_feldmann" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            
                            <li>
                                <a href="http://facebook.com/chrisfeldmann" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                        
                            <li>
                                <a href="http://behance.net/chrisfeldmann" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-behance"></i></a>
                            </li>
                            
                            <!-- <li>
                                <a href="http://github.com/chrisfeldmann" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
                            </li> -->
                            
                        </ul>

                    </div>
                    <div class="footer-col col-md-4">
                        <!-- <h3>{{ site.footer.credits }}</h3>
                        <p>{{ site.credits }}</p> -->
                        <h3>Say Hello!</h3>
                        <p><a href="mailto:chris@chrisfeldmann.com?Subject=Hello!" target="_top">chris@chrisfeldmann.com</a></p>
                        <p>513-314-2310</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; {{ site.footer.copyright }} 20{{ site.time | date: '%y' }}
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Original Scroll to Top Button (Only visible on small and extra-small screen sizes) 
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
    -->
  
    <!-- Scroll to Top Button (Visible on all screen sizes) -->
<link rel="import" href="https://www.polymer-project.org/0.5/components/paper-ripple/paper-ripple.html">
<!-- core-icons loads the default icon set and the core-icon element -->
<link rel="import" href="http://www.polymer-project.org/components/font-roboto/roboto.html">
     <div class="scroll-top page-scroll">
     <a class="scroll-top page" href="#page-top">
      <!--<core-icon icon="expand-less"></core-icon>-->
      <div class="center" cover><i class="fa fa-chevron-up"></i></div>
      <paper-ripple class="circle recenteringTouch" fit></paper-ripple>
    </a>
   </div>