
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Portfolio</h2>
                    <hr class="star-primary">
                </div>
            </div>
    <!-- PORTFOLIO ITEM No. 1 -->
            <div class="row1">
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-{{1}}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                    <br>Take a closer look!
                                </div>
                            </div>
                            <img src="img/portfolio/Go365_Cover_WebAndMobile.png" class="img-responsive" alt="{{ post.alt }}">
                        </a>
                     </div>
                </div>

    <!-- PORTFOLIO ITEM No. 2 -->
            <div class="row2">
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-{{2}}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                    <br>Take a closer look!
                                </div>
                            </div>
                            <img src="img/portfolio/hatterizer_cover.jpg" class="img-responsive" alt="{{ post.alt }}">
                        </a>
                     </div>
                </div>
            
            
     <!-- PORTFOLIO ITEM CJ Grad I'm removing this item for the moment -->
              <!--  <div class="row2">
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-{{2}}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                    <br>Take a closer look!
                                </div>
                            </div>
                            <img src="img/portfolio/cjgrad_cover.jpg" class="img-responsive" alt="{{ post.alt }}">
                        </a>
                     </div>
                </div> -->

    <!-- PORTFOLIO ITEM No. 3 -->
                <div class="row3">
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-{{3}}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                    <br>Take a closer look!
                                </div>
                            </div>
                            <img src="img/portfolio/derby360_cover.jpg" class="img-responsive" alt="{{ post.alt }}">
                        </a>
                     </div>
                </div>

    <!-- PORTFOLIO ITEM No. 4 -->
                 <div class="row4">
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-{{4}}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                    <br>Take a closer look!
                                </div>
                            </div>
                            <img src="img/portfolio/ketoCalc_cover.jpg" class="img-responsive" alt="{{ post.alt }}">
                        </a>
                     </div>
                </div>

    <!-- PORTFOLIO ITEM No. 5 -->
                <div class="row5">
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-{{5}}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                    <br>Take a closer look!
                                </div>
                            </div>
                            <img src="img/portfolio/maltMadness_cover.jpg" class="img-responsive" alt="{{ post.alt }}">
                        </a>
                     </div>
                </div>

    <!-- PORTFOLIO ITEM No. 6 -->
                <div class="row6">
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-{{6}}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                    <br>Take a closer look!
                                </div>
                            </div>
                            <img src="img/portfolio/motionReel_cover.jpg" class="img-responsive" alt="{{ post.alt }}">
                        </a>
                     </div>
                </div>
<!-- END OF PORTFOLIO ITEMS -->
        </div>
    </section>
