 <!-- Process Section -->
    <section class="success" id="process">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Process</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="process-intro">
            <p>While every project is different, below is a brief outline of my ideal workflow process:</p></div> 
            <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                    <h3>01. Collaborate</h3><p> The first step is always collaboration between myself and the stakeholders. Here we try to articulate and define the brand and guiding principles of the product. Clearly and correctly identifying the problem or business challenge shapes the priorities within the product, how to measure success, and the overall goals that the stakeholders are trying to achieve with the product. </p> 
                    
                    <h3>02. Discovery</h3><p> This phase of the process is comprised of user and research activities. I conduct stakeholder interviews, analyse web and mobile usage data, and try to conduct surveys and contextual enquiry (interviewing potential users in the same location that they may use the product), and perform a competitive analysis.</p>
                    
                    <h3>03. Analysis</h3><p> Here I strive to draw insights that I gained from the discovery phase. I use user personas and storyboards to further define who the user might be and what solutions they may want in a digital product. A simple exercise that I often use is "The user is [blank], who wants [blank]" - where I will insert realistic and specific users and wants.</p>
                </div>
                <div class="col-lg-4">
                    <p><h3>04. Design</h3><p> In the design phase, I utilize a collaborative and iterative process that involves creating concept sketches, low-fidelity mockups, interactive wireframes or even paper prototypes. The most important thing to keep in mind during this phase is that this design process involves ideas and input not only in the form of user feedback, but also from those on my team. The design process cycles back on itself as I gain insights that either validate or reject my ideas, assumptions and solutions to design process. This phase is intentially left loose and low-fidelity so that the conversation isn't focusing on branding, graphic identenity or visual nuances.</p>

                    <p><h3>05. Production</h3><p> In this phase, I create high-fidelity (hi-fi) design mockups and polish any animations that will be in the product. I create the digital assets that are required and validate design solutions (for both stakeholders and end-users) through user testing. I also in this phase collaborite with developers to guide the overall vision of the product through it's completion.  </p>
                </div>
            </div>
            <div class="process-outro">
                <h3>Note:</h3><p>These steps may sound like a waterfall design process&#59; however, I maintain communication and collaboration throughout. I try to constantly challenge assumptions and never ignore insights gained throughout the entire design process - even if that means drastically altering the product at any given point in the design workflow. </p>
            </div> 
        </div>
    </section>