 <!-- Process Section -->
    <section class="success" id="process">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Process</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                    <div class="col-lg-12 text-center">
                    <p><strong>Step 01.</strong> The first step is ALWAYS collaboration between myself and the stakeholders. We sit down and clearly define the problem.</p>

                    <!-- PROCESS IMAGES HAVE TO BE RESPONSIVE -LIKELY IN CSS- OR ELSE IT TOTALLY MESSES UP MOBILE VERSIONS OF THE SITE
                        SO FOR NOW THE IMAGES ARE JUST COMMENTED OUT! -->
                    <!-- <p><img src="../img/portfolio/cabin.png"></p> -->

           
                    <p><strong>Step 02.</strong> The next step, while still meeting with the stakeholders, is to sketch out a few iterations of a design that might be a possible solution. </p>

                   <!-- <p><img src="../img/portfolio/cabin.png"></p> -->
              
                    <p><strong>Step 03.</strong> Yadda Yadda Yadda. this is a long drawn out post and I'm not even sure what I should be saying here. But I DO know that it should, in fact, be long-winded. Perhaps longer than anything I've EVER said before. </p>

                    <!-- <p><img src="../img/portfolio/cabin.png"> -->
                    </p>

                </div>
            </div>
        </div>
    </section>