 <!-- Process Section -->
    <section class="success" id="process">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Process</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Step 01. The first step is ALWAYS collaboration between myself and the stakeholders. We sit down and clearly define the problem.</p>
                </div>
                <div class="col-lg-4">
                    <p>Step 02. The next step, while still meeting with the stakeholders, is to sketch out a few iterations of a design that might be a possible solution. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        More detailed look &nbsp;<span><i class="fa fa-chevron-right"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </section>