<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
    {% include nav.html %}
    {% include header.html %}
    {% include portfolio_grid.html %}
    {% include about.html %}
    
    
    

    {% if site.contact == "static" %}
    {% include contact_static.html %}
    {% else %}
    {% include contact.html %}
    {% endif %}

    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}
    </body>
</html>

<!-- NOTE: I previously added a secton called "Process" but have, at least for the time being, decided to remove it.
You'll have to add a line beneath the "include about" section, but obviously instead of "about" it will read "process.html"

You'll also need to unhide the "Process" nav in nav.html

END NOTE -->